[submodule "source/vendor/imgui"]
	path = source/vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "source/vendor/delaunator"]
	path = source/vendor/delaunator
	url = https://github.com/delfrrr/delaunator-cpp.git
[submodule "source/vendor/pybind11"]
	path = source/vendor/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "source/vendor/ctti"]
	path = source/vendor/ctti
	url = https://github.com/Manu343726/ctti.git
