QGroupBox
{
    border: 2px solid rgb(0,128,128);
    background: rgb(102,153,153);
    color: rgb(214,245,245);
}
QGroupBox::title
{
    background-color: transparent;
    subcontrol-position: top center;
    padding:0px 10px;
}
QFrame#SidePanel
{
    border: 2px solid rgb(0,128,128);
    background: rgb(102,153,153);
}
QWidget#Window
{
    background: rgb(71,107,107);
}
QToolBar
{
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                stop:0   rgb(255,163,26),
                stop:0.8 rgb(255,163,26),
                stop:1   rgb(71,107,107))
}
