QGroupBox
{
    border: 2px solid rgb(170,170,170);
    background: rgb(150,150,150);
    color: rgb(214,245,245);
}
QGroupBox::title
{
    background-color: transparent;
    subcontrol-position: top center;
    padding:0px 10px;
}
QFrame#SidePanel
{
    border: 2px solid rgb(170,170,170);
    background: rgb(150,150,150);
}
QFrame#Separator
{
    background: rgb(150,150,150);
}
QWidget#Window
{
    background: rgb(100,100,100);
}
QToolBar
{
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                stop:0   rgb(255,150,26),
                stop:0.8 rgb(255,150,26),
                stop:1   rgb(100,100,100))
}
QStatusBar
{
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                stop:0   rgb(100,100,100),
                stop:0.2 rgb(255,150,26),
                stop:1   rgb(255,150,26))
}
QLabel#StatusLabel
{
    border: none;
}
QLabel#TBProjectLabel
{
    color: #ffffff;
    background: rgb(255,120,26);
    border: 1px dotted #ffffff;
}
QScrollArea#TexmapScroll
{
    background: transparent;
}
QScrollArea#TexmapScroll > QWidget > QWidget
{
    background: transparent;
}
QScrollArea#TexmapScroll > QWidget > QScrollBar
{
    background: palette(base);
}
