QGroupBox
{
    border: 2px solid rgb(170,170,170);
    background: rgb(150,150,150);
    color: rgb(255,204,0);
    padding-top: 8px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
QGroupBox::title
{
    background-color: transparent;
    subcontrol-position: top center;
    padding:0px 10px;
}
QFrame#SidePanel
{
    border: 2px solid rgb(170,170,170);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: rgb(150,150,150);
}
QFrame#Separator
{
    background: rgb(150,150,150);
}
QWidget#Window
{
    background: rgb(100,100,100);
}
QWidget#InternalWidget
{
    background: rgb(170,170,170);
}
QToolBar
{
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                stop:0   rgb(255,150,26),
                stop:0.8 rgb(255,150,26),
                stop:1   rgb(100,100,100))
}
QStatusBar
{
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                stop:0   rgb(100,100,100),
                stop:0.2 rgb(255,150,26),
                stop:1   rgb(255,150,26))
}
QLabel#StatusLabel
{
    border: none;
}
QLabel#TBProjectLabel
{
    color: #ffffff;
    background: rgb(255,120,26);
    border: 1px dotted #ffffff;
}
QTabWidget::pane
{
    background: #66ccff;
    border-top: 2px solid #C2C7CB;
    margin: -5px -5px -5px -5px;
}
QTabWidget::tab-bar
{
    left: 5px;
}
QTabBar::tab
{
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                stop: 0 #999999,
                                stop: 0.4 #a6a6a6,
                                stop: 0.5 #b3b3b3,
                                stop: 0.7 #999999,
                                stop: 1.0 #66ccff);
    color: white;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
QTabBar::tab:selected, QTabBar::tab:hover
{

}
QTabBar::tab:selected
{
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                stop: 0 #66ccff,
                                stop: 0.4 #80d4ff,
                                stop: 0.5 #99ddff,
                                stop: 1.0 #66ccff);
}
QTabBar::tab:!selected
{
    margin-top: 2px;
}
QScrollArea#TexmapScroll
{
    background: transparent;
}
QScrollArea#TexmapScroll > QWidget > QWidget
{
    background: transparent;
}
/*QScrollArea#TexmapScroll > QWidget > QScrollBar
{
    background: palette(base);
}*/
QScrollBar:vertical
{
    border: 2px solid grey;
    background: rgb(255,120,26);
    width: 15px;
    margin: 20px 0px 20 0px;
}
QScrollBar::handle:vertical
{
    background: rgb(255,150,26);
    min-height: 20px;
}
QScrollBar::add-line:vertical
{
    border: 2px solid grey;
    background: rgb(255,120,26);
    height: 20px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}
QScrollBar::sub-line:vertical
{
    border: 2px solid grey;
    background: rgb(255,120,26);
    height: 20px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}
QScrollBar:up-arrow:vertical, QScrollBar::down-arrow:vertical
{
    border: 2px solid grey;
    width: 3px;
    height: 3px;
    background: white;
}
